<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2024 iPhone 15 Ödüllü Çekiliş</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>2024 iPhone 15 Ödüllü Çekiliş</h1>
        <button id="draw-button" onclick="startDraw()">Çekiliş Yap</button>
        <div id="loading-indicator" class="hidden">
            <div class="youtube-loader"></div>
        </div>
        <div id="winner" class="comment-bubble hidden">'Kazanan adı' Kazandı</div>
        <div id="wish" class="comment-bubble hidden">Lütfen ben kazanayım</div>
    </div>
    <canvas id="confetti-canvas"></canvas>
    <script src="/static/script.js"></script>
</body>
</html>
